@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root {


    --background-color: white;
    --text-color: black;
    --button-border-color: #121212;
    --button-text-color: #f2f2f2;
    --button-hover-background: #223ccc;
    --button-hover-text: #f2f2f2;
    --icon-fill: #000000;
}

body.dark-mode {
    --background-color: #020617;
    --text-color: #E0E0E0;
    --button-border-color: #f2f2f2;
    --button-text-color: #f2f2f2;
    --button-hover-background: #223ccc;
    --button-hover-text: #f7f2f2;
    --icon-fill: #ffffff;
}

/* Estilos predeterminados (modo oscuro) */
body {
    height: 100vh;
    padding: 10px;
    position: relative;
    background-color: var(--background-color);
    /* Aplica variable de color de fondo */
    color: var(--text-color);
    /* Aplica variable de color de texto */
    display: flex;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: background-color 0.1s ease, color 0.1s ease;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 400;
    margin-top: 12px;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}

h2 {
    font-size: 40px;
    margin: 0;
}

.span-section {
    color: #616c80;
}

.button {

    padding: 14px;
    /* Aplica variable de color de borde */
    background-color: #1e39b2;
    color: white;
    /* Aplica variable de color de texto */
    text-decoration: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    position: relative;

    font-weight: 600;
    transition: background-color 0.1s ease, color 0.1s ease;
    user-select: none;
}

.button:hover {
    color: var(--button-hover-text);
    /* Aplica variable para hover */
    background-color: var(--button-hover-background);
    /* Aplica variable para hover */
}

.section {
    text-align: center;
}



.presentacion {
    text-align: center;
}


.container-content {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    margin: 2rem 20rem;
    gap: 5%;
}

.redes-sociales {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-bottom: 20px;
}

.body.light-mode .social i {
    color: white;
}

.social i {
    text-align: center;
    font-size: 24px;
    /* Ajusta el tamaño del icono aquí */
    margin: 20px;
    border-radius: 50%;
    color: var(--button-hover-background);
    /* Cambia el color si es necesario */
    transition: color 0.3s;
    /* Opcional: Para un efecto de transición en el color */
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;
}

.fa-linkedin:hover {
    background-color: #435df3;
    color: white;
    box-shadow: 0 0 15px #435df3,
        0 0 15px #435df3,
        0 0 55px #435df3,
        0 0 75px #435df3;
}

.fa-github:hover {
    background-color: #7a0a9c;
    color: white;
    box-shadow: 0 0 15px #7a0a9c,
        0 0 15px #7a0a9c,
        0 0 55px #7a0a9c,
        0 0 75px #7a0a9c;
}

.fa-instagram:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red,
        0 0 15px red,
        0 0 55px red,
        0 0 75px red;
}

.foto {
    width: 400px;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    margin-right: 20px;
}


.container-about p {
    text-align: justify;
    width: 300px;
    color: #616c80;
    line-height: 1.5rem;
}

#dark-mode-toggle {
    border: 1px solid var(--button-border-color);
    /* Aplica variable de borde */
    background-color: transparent;
    color: var(--text-color);
    /* Aplica variable de texto */
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;
    transition: background-color 0.1s ease, color 0.1s ease;
    display: flex;
    align-items: center;
    /* Alinea verticalmente el ícono */
    user-select: none;
    position: fixed;
    top: 20px;
    right: 20px;
}

#dark-mode-toggle svg {
    width: 24px;
    /* Ajusta el tamaño del ícono SVG */
    height: 24px;
    /* Ajusta el tamaño del ícono SVG */
    fill: var(--icon-fill);
    /* Aplica variable de color de ícono */
}

/* Estilos para los íconos */
#icon-moon {
    display: none;
    /* Visible solo en modo oscuro */
}

/* ---------------------------------------SKILLS-------------------------------- */
#contact-heading{
    margin-bottom: 2rem;
}
.grid-tecnologias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre las columnas */
    max-width: 800px;
    margin: 0 auto; /* Centra el grid horizontalmente */
    justify-content: center; /* Alinea los artículos en el centro de las columnas */
    align-items: center; /* Centra verticalmente los artículos */
    padding: 0 20px; /* Espacio horizontal interno */
}
#skills p{
    font-size: 16px;
    margin-bottom: 3rem;
    color: #616c80;
    padding: 10px;

}

.grid-skill {
    background-color: var(--background-color);
    border: 2px solid var(--button-hover-text);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido del artículo */
}

.column-skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
}

.grid-skill h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.grid-skill ul {
    list-style: none;
    padding: 0;
}

.grid-skill li {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente los elementos de la lista */
    margin-bottom: 10px;
}

.grid-skill i {
    margin-right: 10px;
    font-size: 24px;
}

.front {
    color: #E34F26; /* Color para Frontend */
}

.back {
    color: #68A063; /* Color para Backend */
}

.learn {
    color: #DD0031; /* Color para Aprendiendo */
}

.tools {
    color: #F05032; /* Color para Herramientas */
}



/* --------------------------------FOOTER------------------------ */

footer {
    margin-bottom: 40px;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: background-color 0.1s ease, color 0.1s ease;

}

/* Estilos responsivos */
@media (max-width: 964px) {
    .foto {
        width: 300px;
    }

}

@media (max-width: 740px) {
    body {
        padding: auto;
        margin: auto;
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    .container-about {
        display: grid;
        justify-content: center;
    }

    .container-content {
        display: grid;
    }

    .foto {
        width: 180px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }

    .grid-tecnologias{
        margin: 20px;
    }
    #skills p{
        padding: 10px;

    }
    .grid-skill{
        padding: 5px;

    }
    .column-skill img {
        width: 32px; /* Reduce el tamaño de los iconos */
        height: 32px; /* Mantiene la proporción del icono */
    }
}